<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <title>Document</title>
    </head>
    <body>
        <h1>{{ city }}</h1>
        <h3>{{ country }}</h3>
        <h2>{{ temp }} &#8451; </h2>
        
        <div style="display: flex;">
            <form action="./discover">
                <input type="submit" value="Check other places"/>
            </form>
            &nbsp;
            <form action=".">
                <input style="background: #dc3545" type="submit" value="Home"/>
            </form>
       </div>
        
    </body>
</html>